html,
body {
  background-color: #f3e5c9;
}

.container {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.envelope {
  background-color: tomato;
  height: 600px;
  left: 50%;
  margin: -250px 0 0 -200px;
  position: absolute;
  top: 50%;
  width: 400px;
}

.flap {
  border-top: 150px solid lightblue;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  cursor: pointer;
  position: relative;
  top: 0;
}
.flap-open {
  top: -150px;
  transform: rotateX(180deg);
  z-index: -2;
}
.card {
  position: absolute;
  top: 30px;
}
.show {
  background-color: snow;
  background-image: url('images/coco1.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  width: 60%;
  height: 80%;
  position: absolute;
  top: -30px;
  left: 80px;
  transition: top 900ms linear 500ms;
  z-index: -1;
}

.show-card {
  transform: rotate(90deg);
  transition: cubic-bezier(0, 1.32, 1, 1) 500ms;
  z-index: 3;
}

.show-card:hover,
.show-card:focus,
.show-card:active {
  background-image: url('images/coco2.JPG');
}
.show-card:hover::after {
  color: gold;
  content: "Gezuar Ditlindjen Rex!";
  font-family: 'Noteworthy', cursive;
  font-size: 2em;
  left: 25%;
  position: absolute;
  top: 48%;
  transform: rotate(270deg);
}

h1 {
  color: gold;
  font-family: 'Noteworthy', cursive;
  font-size: 1em;
  position: relative;
  text-align: center;
  top: 50px;
}
