html,
body {
  background-color: #D1E1E8; }

.container {
  height: 100vh;
  position: relative;
  z-index: 1; }

.envelope {
  background-color: tomato;
  height: 600px;
  left: 50%;
  margin: -250px 0 0 -200px;
  position: absolute;
  top: 50%;
  width: 400px; }

.flap {
  border-top: 150px solid #FFCCBC;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  cursor: pointer;
  position: relative;
  top: 0; }

.flap-open {
  top: -150px;
  transform: rotateX(180deg);
  z-index: -2; }

.card {
  position: absolute;
  top: 30px; }

.show {
  background-color: snow;
  background-image: url("images/coco1.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  width: 60%;
  height: 80%;
  position: absolute;
  top: -30px;
  left: 80px;
  transition: top linear 500ms;
  z-index: -1; }

.show-card {
  transform: rotate(90deg);
  transition: cubic-bezier(0, 1.32, 1, 1) 500ms;
  z-index: 3; }

.show-card:hover,
.show-card:focus,
.show-card:active {
  background-image: url("images/coco2.JPG"); }

.show-card:hover::after {
  color: #FDD835;
  content: "Gezuar Ditlindjen Rex!";
  font-family: 'Noteworthy', cursive;
  font-size: 2em;
  left: 25%;
  position: absolute;
  top: 48%;
  transform: rotate(270deg); }

.balloon {
  animation: float 5s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: inset -20px -20px 20px rgba(0, 0, 0, 0.28);
  height: 130px;
  opacity: .9;
  position: absolute;
  top: 100px;
  visibility: visible;
  width: 100px;
  z-index: -1; }

.balloon-yellow {
  background: yellow;
  left: 50px; }

.balloon-blue {
  background: blue;
  left: 150px;
  animation: float-opposite 5s ease-in-out infinite; }

.balloon-green {
  background: green;
  left: 80px; }

.balloon-pink {
  background: lightpink;
  left: 20px;
  animation: float-opposite 5s ease-in-out infinite; }

.balloon-red {
  background: red;
  left: 200px; }

.balloon-violet {
  background: purple;
  left: 270px;
  animation: float-opposite 5s ease-in-out infinite; }

.balloon::before {
  content: "";
  position: absolute;
  top: 130px;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid yellow; }

.balloon::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 140px;
  width: 1px;
  height: 200px;
  background: rgba(33, 33, 33, 0.6); }

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(3deg); }
  50% {
    transform: translateY(-25px) rotate(-10deg); } }
@keyframes float-opposite {
  0%, 100% {
    transform: translateY(0) rotate(-3deg); }
  50% {
    transform: translateY(25px) rotate(10deg); } }
.balloon-show {
  top: -150px;
  transition: top 1s, z-index 3s ease-in-out;
  z-index: 1; }

.pop {
  opacity: 0;
  visibility: hidden;
  transition: visibility ease-in-out 300ms, opacity 300ms; }

h1 {
  color: #172894;
  font-family: 'Noteworthy', cursive;
  font-size: 1.5em;
  position: relative;
  text-align: center;
  top: 50px; }

/*# sourceMappingURL=style.css.map */
